body {
  box-sizing: border-box;
  text-align: center;
}

.topnav {
  float: left;
}

h1 {
  float: left;
}

table {
  float: right;
}

#main-bio,
  #contact-info,
  #bio-image {
    float: center;
  }