
.box-set {
    position: relative;
    height: 400px;
  }
  
  .box {
    position: relative;
    width: 150px;
    height: 150px;
    border: 2px solid;
  }
  
  .box-1 {
    top: 20px;
  }
  
  .box-2 {
    left: 40px;
  }